a:link {
  color: #D95829
}

.btn, .btn:hover {
  background-color: #F29422;
}

.btn:active {
  background-color: #18778C;
}


.nav-pills>li>a:focus, .nav-pills>li.active>a,     .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
     background-color: #18778C;
     }

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
   font-size: 22pt;
   padding-top: 50px;
}

h2 {
   font-size: 20pt;
}

h3 {
   font-size: 18pt;
}

h4 {
   font-size: 16pt;
   padding-top: 25px;
}

p {
   font-size: 18pt;
}

ul li {
   font-size: 14pt;
}

ol li {
   font-size: 14pt;
}