@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet");

.nav-pills>li>a:hover, .nav-pills>li>a:focus, .nav-pills>li.active>a,     .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
     background-color: #18778C;
     }

.nav-pills a{
     color: #000
     }

h1 {
  padding-top: 2em !important;
  margin-top: -1em !important;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  padding-top: 2em !important;
  margin-top: -1em !important;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

h3 {
   color: #D95829
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14pt;
}